.footer__author {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__author {
    margin: 48px 0 0;
    line-height: 14px;
  }
}
